# 함수만들기

In [ ]:
def add (a,b): 
    return a + b

In [2]:
add (1,3)

4

# 함수로 덧셈만들기

In [127]:
i = 3 
j = 4 

add(i,j)

7

In [125]:
add( 1, 2 , 3)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [126]:
def add (a,b):
    result = a+b
    return result

In [11]:
def say():
    return 'Hi'

In [12]:
say()

'Hi'

In [13]:
a = say()
print(a)

Hi

In [16]:
def add (a,b): 
    print("%d,%d의 합은 %d이다" %(a,b,a+b) )

In [17]:
add (3,4)

3,4의 합은 7이다

In [18]:
def say():
    print('Hi')

In [19]:
say()

Hi

In [20]:
a =say()
print(a)

Hi
None

In [21]:
def add (a,b):
    result = a+b
    return result

In [22]:
a = add(3,4)
print(a)

7

In [29]:
def minus(a,b):
    result = a - b
    return result

In [30]:
result = minus(7,2)
print(result)

5

In [31]:
reusult = minus(a= 2,b=7)
print(result)

5

reusult = minus(b=7,a=2)
print(result)

# 모두더하기

In [41]:
def add_all(*args): 
    result = 0 
    for i in args: 
        result += i
        
    return result

In [42]:
add_all(1,2,3)

6

In [43]:
add_all(1,2,3,4,5,6)

21

In [44]:
add_all(1,2,3,4,5)

15

# 더하기 곱하기 함수

In [128]:
def add_mul(choice , *args): 
    if choice == "add":
        result = 0 
        for i in args : 
            result += i
    elif choice == "mul":
        result  = 1 
        for i in args : 
            result *= i 
    return result

In [48]:
add_mul('add', 1,2,3,4,5)

15

In [49]:
add_mul('mul',1,2,3,4,5)

120

In [50]:
def add_and_mul(a,b) : 
    return a+b ,a*b

In [53]:
result = add_and_mul(3,4)

In [54]:
print(result)

(7, 12)

In [55]:
add_result, mul_result = add_and_mul(3,4)

In [56]:
add_result

7

In [57]:
mul_result

12

In [58]:
def add_and_mul (a,b): 
    return a+b
    return a*b

In [59]:
add_and_mul(3,4)

7

In [60]:
def say_a_b(ab) : 
    if ab == 'a':
        return 'A'
    print("You say b!")

In [61]:
print(say_a_b('a'))

A

In [62]:
print(say_a_b('b'))

You say b!
None

In [72]:
def say_mself(name , age , mf = True):
    print("내이름은 %s입니다 " % name)
    print("나이는 %d살입니다" % age)
    if mf: 
        print("여자입니다")
    else: 
        print("남자입니다")

In [74]:
say_mself("aaa",20 )

내이름은 aaa입니다
나이는 20살입니다
여자입니다

In [73]:
say_mself("bbb",20, mf = False)

내이름은 bbb입니다
나이는 20살입니다
남자입니다

In [75]:
a = 1 

def vartest(a): 
    a += 1
    return a 

a = vartest(a)
print (a)

2

In [76]:
a = vartest(a)
print(a)

3

In [77]:
a = 1 
def vartest() : 
    global a 
    a += 1

In [78]:
vartest()

In [79]:
print(a)

2

In [80]:
vartest()

In [81]:
print(a)

3

In [83]:
b = 1 
def vartest() : 
    global a 
    a += 1 
vartest()
print (b)

1

# 람다형식으로 함수 더하기

In [84]:
# lambda 

add = lambda a,b: a+b

In [85]:
add(3,4)

7

In [86]:
a = input()

3

In [87]:
a = input()

a is apple , b Is banana

In [88]:
a

'a is apple , b Is banana'

In [89]:
a = input("숫자만입력하세요:")

숫자만입력하세요:3

In [90]:
a

'3'

In [91]:
print("a is apple. ")

a is apple.

In [94]:
print("a" +  "is"  + "apple")

aisapple

In [95]:
print("a" , "is"  , "apple")

a is apple

In [96]:
print("a" , "is", "apple",sep = ':')

a:is:apple

In [99]:
for i in range(10):
    print (i ,end = '')

0123456789

In [100]:
for i in range(10):
    print (i ,end = ':')

0:1:2:3:4:5:6:7:8:9:

# 파일열기

In [129]:
f = open("./test_file/새파일.txt",'w')
f.close()

In [108]:
f = open("./test_file/새파일.txt",'w')
for i in range(1,11):
    data = "%d번쨰 줄입니다 \n" % i 
    f.write(data)
f.close()

In [109]:
f = open("./test_file/새파일.txt",'r')
line = f.readline()
print(line)

1번쨰 줄입니다

In [110]:
line =f.readline()
print(line)

2번쨰 줄입니다

In [111]:
while True : 
    line = f.readline()
    if not line : break 
    print(line)
f.close

3번쨰 줄입니다

4번쨰 줄입니다

5번쨰 줄입니다

6번쨰 줄입니다

7번쨰 줄입니다

8번쨰 줄입니다

9번쨰 줄입니다

10번쨰 줄입니다

In [118]:
f = open("새파일.txt",'r')
lines = f.readlines()
print(lines)

[]

In [119]:
for line in lines : 
    print (line)

In [120]:
f = open ("새파일.txt",'r')
data =f.read()
print(data)
f.close()

In [121]:
data

''

In [122]:
f = open("새파일.txt",'a')
for i in range(11,21):
    data =  data = "%d번쨰 줄입니다 \n" % i 
    f.write(data)
f.close()

In [123]:
with open ("새파일.txt",'a') as f : 
    f.write ("끝!")