### pandas를 약어를 사용해서 부착시키세요.

In [1]:
import pandas as pd # pandas import

### 과제 데이터를 Working Directory에 넣고(upload) exam이라는 데이터 프레임으로 불러오세요.

In [2]:
exam = pd.read_csv('./csv_exam.csv' ,sep =",") #구분자 " , " 로 csv 파일을 exam 으로 불러오기

### 
#### exam의 앞부분과 뒷부분을 살펴보고, 
#### 행과 열의 크기에 대한 정보를 확인하고, 
#### 칼럼명을 확인하고, 
#### 데이터타입 속성을 파악하고, 
#### 전체적인 정보를 확인하고, 
#### 기초통계량을 확인하세요.

In [5]:
exam.head # exam의 앞부분

<bound method NDFrame.head of     id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58>

In [6]:
exam.tail # exam의 뒷부분

<bound method NDFrame.tail of     id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58>

In [7]:
exam.shape #exam 행과 열의 크기에 대한 정보를 확인하고, 20행5열

(20, 5)

In [8]:
exam.columns #칼럼명을 확인 id, class math ,english ,science  column 이름 들

Index(['id', 'class', 'math', 'english', 'science'], dtype='object')

In [9]:
exam.dtypes #데이터타입 속성을 파악하고, id, class math ,english ,science 모두 int 형 자료

id         int64
class      int64
math       int64
english    int64
science    int64
dtype: object

In [10]:
exam.info() # 전체적인 정보를 확인하고,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   class    20 non-null     int64
 2   math     20 non-null     int64
 3   english  20 non-null     int64
 4   science  20 non-null     int64
dtypes: int64(5)
memory usage: 928.0 bytes

In [11]:
 exam.describe() # 기초통계량 확인

             id      class       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

### 반(class)별 수학점수, 영어점수, 과학점수의 평균을 구하세요.

In [13]:
exam.groupby('class')[['math','english','science']].mean()

        math  english  science
class
1      46.25    94.75    61.50
2      61.25    84.25    58.25
3      45.00    86.50    39.25
4      56.75    84.75    55.00
5      78.00    74.25    83.25